## Treasury data exercise

This notebook shows a quick python script to load data from treasury.gov, then publish a chart pack to PDF.

In [1]:
import pandas as pd
from pandas.tseries.offsets import MonthEnd
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages

To get started, we'll retrieve the new data and format it into a pandas DataFrame.

In [2]:
# data source
source = 'https://www.treasury.gov/resource-center/data-chart-center/tic/Documents/slt1d_globl.csv'

# read in raw data
tic = pd.read_csv(source, skiprows=13, skipfooter=10, 
                  names = ('Country Name', 'Country Code', 'End of Month', 
                            'Total US Long-Term Securities', 'US Treasury', 
                            'US Agency Bonds', 'US Corporate and Other Bonds', 
                            'US Corporate Stocks'), 
                  engine='python', thousands=',', na_values = 'n.a.')


# add native date formatting
tic['End of Month'] = pd.to_datetime(tic['End of Month']) + MonthEnd(1)
tic.set_index(['Country Name', 'End of Month'], inplace = True)

tic

                           Country Code  Total US Long-Term Securities  \
Country Name End of Month
Austria      2018-07-31           10189                          23437
             2018-06-30           10189                          22761
             2018-05-31           10189                          22738
             2018-04-30           10189                          22181
             2018-03-31           10189                          22787
             2018-02-28           10189                          22957
             2018-01-31           10189                          23308
             2017-12-31           10189                          23185
             2017-11-30           10189                          22532
             2017-10-31           10189                          20875
             2017-09-30           10189                          20767
             2017-08-31           10189                          20031
             2017-07-31           10189                          20068
             2017-06-30           10189                          19844
             2017-05-31           10189                          19653
             2017-04-30           10189                          20006
             2017-03-31           10189                          20319
             2017-02-28           10189                          19681
             2017-01-31           10189                          19909
             2016-12-31           10189                          19736
             2016-11-30           10189                          19533
             2016-10-31           10189                          19252
             2016-09-30           10189                          19508
             2016-08-31           10189                          19304
             2016-07-31           10189                          19152
             2016-06-30           10189                          19299
             2016-05-31           10189                          18649
             2016-04-30           10189                          18451
             2016-03-31           10189                          17626
             2016-02-29           10189                          16832
...                                 ...                            ...
Grand Total  2014-04-30           99996                       15161482
             2014-03-31           99996                       15110663
             2014-02-28           99996                       15056278
             2014-01-31           99996                       14643808
             2013-12-31           99996                       14723651
             2013-11-30           99996                       14600714
             2013-10-31           99996                       14412633
             2013-09-30           99996                       14138245
             2013-08-31           99996                       13799980
             2013-07-31           99996                       13934600
             2013-06-30           99996                       13655133
             2013-05-31           99996                       13942791
             2013-04-30           99996                       13900800
             2013-03-31           99996                       13731239
             2013-02-28           99996                       13534206
             2013-01-31           99996                       13451706
             2012-12-31           99996                       13216925
             2012-11-30           99996                       13089818
             2012-10-31           99996                       12998064
             2012-09-30           99996                       12985353
             2012-08-31           99996                       12792089
             2012-07-31           99996                       12601504
             2012-06-30           99996                       12554010
             2012-05-31           99996                       12337866
             2012-04-30           99996                       12580150
             2012-03-31           99996                       12591085
             2012-02-29           99996                       12459556
             2012-01-31           99996                       12176623
             2011-12-31           99996                       11861747
             2011-09-30           99996                       11583213

                           US Treasury  US Agency Bonds  \
Country Name End of Month
Austria      2018-07-31         3551.0            607.0
             2018-06-30         3513.0            621.0
             2018-05-31         3425.0            611.0
             2018-04-30         3368.0            648.0
             2018-03-31         3489.0            655.0
             2018-02-28         3501.0            669.0
             2018-01-31         3336.0            683.0
             2017-12-31         3902.0            680.0
             2017-11-30         3380.0            686.0
             2017-10-31         3409.0            690.0
             2017-09-30         3750.0            701.0
             2017-08-31         3447.0            640.0
             2017-07-31         3922.0            523.0
             2017-06-30         4133.0            495.0
             2017-05-31         4105.0            485.0
             2017-04-30         4459.0            496.0
             2017-03-31         4807.0            491.0
             2017-02-28         4584.0            489.0
             2017-01-31         4835.0            493.0
             2016-12-31         5187.0            504.0
             2016-11-30         4974.0            511.0
             2016-10-31         4896.0            493.0
             2016-09-30         4940.0            491.0
             2016-08-31         4824.0            463.0
             2016-07-31         4867.0            455.0
             2016-06-30         5545.0            463.0
             2016-05-31         4827.0            410.0
             2016-04-30         4878.0            433.0
             2016-03-31         4900.0            436.0
             2016-02-29         4771.0            447.0
...                                ...              ...
Grand Total  2014-04-30      5311717.0         837492.0
             2014-03-31      5258984.0         835455.0
             2014-02-28      5210576.0         859490.0
             2014-01-31      5164545.0         860222.0
             2013-12-31      5107089.0         857010.0
             2013-11-30      5065587.0         892823.0
             2013-10-31      5025345.0         905094.0
             2013-09-30      5007789.0         900806.0
             2013-08-31      4924466.0         892796.0
             2013-07-31      4938915.0         899214.0
             2013-06-30      4919650.0         880290.0
             2013-05-31      4990606.0         910993.0
             2013-04-30      5003227.0         941108.0
             2013-03-31      5001076.0         935588.0
             2013-02-28      5000614.0         929262.0
             2013-01-31      4947523.0         950494.0
             2012-12-31      4909828.0         979363.0
             2012-11-30      4861617.0         997488.0
             2012-10-31      4854545.0        1001445.0
             2012-09-30      4793665.0        1014427.0
             2012-08-31      4788103.0        1000765.0
             2012-07-31      4760456.0         995529.0
             2012-06-30      4680774.0        1001461.0
             2012-05-31      4635590.0        1013230.0
             2012-04-30      4594212.0        1016647.0
             2012-03-31      4510887.0        1046544.0
             2012-02-29      4470555.0        1057924.0
             2012-01-31      4449925.0        1034692.0
             2011-12-31      4356681.0        1046310.0
             2011-09-30      4276989.0        1049641.0

                           US Corporate and Other Bonds  US Corporate Stocks
Country Name End of Month
Austria      2018-07-31                          4255.0              15024.0
             2018-06-30                          4112.0              14515.0
             2018-05-31                          4237.0              14465.0
             2018-04-30                          4290.0              13875.0
             2018-03-31                          4309.0              14335.0
             2018-02-28                          4328.0              14459.0
             2018-01-31                          4361.0              14929.0
             2017-12-31                          4369.0              14235.0
             2017-11-30                          4356.0              14110.0
             2017-10-31                          4454.0              12323.0
             2017-09-30                          4406.0              11910.0
             2017-08-31                          4292.0              11652.0
             2017-07-31                          4211.0              11412.0
             2017-06-30                          4076.0              11140.0
             2017-05-31                          4088.0              10975.0
             2017-04-30                          4193.0              10858.0
             2017-03-31                          4162.0              10859.0
             2017-02-28                          4134.0              10474.0
             2017-01-31                          4015.0              10566.0
             2016-12-31                          4011.0              10033.0
             2016-11-30                          4045.0              10003.0
             2016-10-31                          4088.0               9776.0
             2016-09-30                          4093.0               9984.0
             2016-08-31                          4095.0               9922.0
             2016-07-31                          4060.0               9770.0
             2016-06-30                          3981.0               9310.0
             2016-05-31                          3961.0               9452.0
             2016-04-30                          3863.0               9277.0
             2016-03-31                          3647.0               8643.0
             2016-02-29                          3469.0               8144.0
...                                                 ...                  ...
Grand Total  2014-04-30                       2976217.0            6036056.0
             2014-03-31                       2956520.0            6059704.0
             2014-02-28                       2939526.0            6046686.0
             2014-01-31                       2883137.0            5735904.0
             2013-12-31                       2877062.0            5882490.0
             2013-11-30                       2879846.0            5762458.0
             2013-10-31                       2858451.0            5623743.0
             2013-09-30                       2806547.0            5423103.0
             2013-08-31                       2764205.0            5218513.0
             2013-07-31                       2779154.0            5317317.0
             2013-06-30                       2731087.0            5124106.0
             2013-05-31                       2814132.0            5227060.0
             2013-04-30                       2837497.0            5118968.0
             2013-03-31                       2780054.0            5014521.0
             2013-02-28                       2770257.0            4834073.0
             2013-01-31                       2770566.0            4783123.0
             2012-12-31                       2761562.0            4566172.0
             2012-11-30                       2744530.0            4486183.0
             2012-10-31                       2729698.0            4412376.0
             2012-09-30                       2706056.0            4471205.0
             2012-08-31                       2678566.0            4324655.0
             2012-07-31                       2630212.0            4215307.0
             2012-06-30                       2611973.0            4259802.0
             2012-05-31                       2627133.0            4061913.0
             2012-04-30                       2650099.0            4319192.0
             2012-03-31                       2678487.0            4355167.0
             2012-02-29                       2698214.0            4232863.0
             2012-01-31                       2643018.0            4048988.0
             2011-12-31                       2616855.0            3841901.0
             2011-09-30                       2692918.0            3563665.0

[13051 rows x 6 columns]

Now, let's define a function to draw a table with the most recent data, along with a time series plot for each variable.

In [3]:
def table_plots(country, df):
    """
    country is a string used to title the plots
    df should contain appropriate data
    returns matplotlib.pyplot figure for printing
    """
    fig, ax = plt.subplots(3,2, figsize = (18, 12))
    fig.suptitle(country, fontsize=20)
    for i, x in enumerate(ax.ravel()):

        if i == 0:
            x.table(cellText=list(zip(list(df.iloc[0,1:].index), list(df.iloc[0,1:].values))), 
                    colLabels=['', str(df.index[0])[:-12]],
                    loc='center')
            x.xaxis.set_visible(False) 
            x.yaxis.set_visible(False)
            x.set_title('Most Recent Data (millions USD)')
            continue
        x.grid(True)
        x.plot(df.iloc[:,i].dropna())
        x.set_title(df.iloc[:,i].name)

    return fig

Finally, let's cycle through the countries and draw the tables and plots. 

The output is a PDF with a page for each country.

In [4]:
# list of country names
countries = list(tic.index.levels[0])

# print to pdf
with PdfPages('tic_update.pdf') as pdf:
    for c in countries:

        fig = table_plots(c, tic.loc[c])
        pdf.savefig(fig)

        plt.close()